{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h1>Thanks for stopping by!</h1>
    <p>
      <strong>NosTRIdamus</strong> wants to simplify the process of choosing an Ironman race by recommending you events that you might like based on your past racing behavior or by leveraging what is important to you when choosing a race to do. It was developed over three weeks as a pilot project for the <a href="https://www.insightdatascience.com/">Insight Data Science program</a>.
    </p>
    <h4>Why?</h4>
    <p>
      The number of races in long distance triathlon has been growing steadily over the past few years. While having access to more options is generally a good thing for the athletes, it can also become a bit overwhelming to decide on which race to do next, especially for people new to the sport.
    </p>
    <h4>What is an Ironman?</h4>
    <p>
      Ironman is one of the most popular and important series of long-distance triathlon races in the world. The World Triathlon Corporation (WTC) is the responsible institution to organize and manage the Ironman events. Ironman events can be categorized into two distances, 140.6mi (generally referred simply as Ironman or full Ironman) and 70.3 (also referred as half-Ironman).
    </p>
    <h5 style='font-style: italic'>Ironman</h5>
    <p>
      An Ironman consists of the successive completion of 3 different legs, with no break in between them:
      <ul>
        <li>3.86 km (2.4 miles) swim</li>
        <li>180.25 km (112 miles) bike</li>
        <li>42.2 km (26.22 miles) marathon run</li>
      </ul>
      Ironman is considered to be one of the most challenging and tough sporting event one can do, especially considering the fact most of Ironman races should finish in a certain given time (usually less than 17 hours).
    </p>
    <p>
      Note that there exist other races organized to include the same distances and segments of a normal and typical Ironman race. However, WTC isn’t the one who owns, produces, or even licenses these events.
    </p>
    <h5 style='font-style: italic'>Ironman 70.3</h5>
    <p>
      The Ironman 70.3 series contains shorter courses. It consists of:
      <ul>
        <li>1.9 km (1.2 miles) swim</li>
        <li>90 km (56 miles) bike</li>
        <li>21.1 km (13.1 miles) half marathon run</li>
      </ul>
 
      Just like the main Ironman race, the shorter version, Ironman 70.3, consists of a number of qualifying events. They all take place in different locations around the world along with the Ironman qualifying series.
    </p>
    <p>
      70.3 races are ideal for triathletes who want to challenge themselves through an Ironman completion. If they are not sure whether their physical state can handle it, then they should consider doing the Ironman 70.3 series as a great, less intense and demanding Ironman that has the power to prepare them for the main event.  Did you know the Ironman 70.3 series is statistically the fastest growing triathlon series in the world?
    </p>
  </div>
{% endblock %}