{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block title %}Welcome{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h1>Hey there!</h1>
    <h4>Want to know what your next Ironman race could be? You're at the right place!</h4>
  </div>
  <div class="container-fluid top-pad">
    <div class="row ">
      <div class="col-lg-6">
        
        <div class="row bottom-pad">

          <div class="col-md-6 right-border">
            <div class='title bottom-pad pt-3'> Which race did you like? </div>
            <p>
              Enter a race that you've participating in (or are interested by) and get recommendations based on what other people who also did this race have liked. 
            </p>
            <div class="input-group mb-2 bottom-pad">
              <div id="empty-field-alert" class="alert alert-dismissible fade show" role="alert">
                <button type="button" class="close" onclick="$('#empty-field-alert').hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                 <span id='empty-field-alert-text'></span>
              </div>
              <input id="race-input" type="text" class="form-control" placeholder="Which race did you liked?" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button id="get-recommendations-button" class="btn btn-outline-secondary" type="button">Submit</button>
              </div>
            </div>
            
            <div class="bottom-pad" id='slider-months'></div>

            <div id="races-filter" class="btn-group btn-group-toggle col-12 remove-all-margin-padding" data-toggle="buttons">
              <label class="btn btn-secondary btn_colored active">
                <input type="radio" name="options" value='all' id="option1" autocomplete="off" checked> No Filter
              </label>
              <label class="btn btn-secondary btn_colored">
                <input type="radio" name="options" value='70.3' id="option2" autocomplete="off"> 70.3
              </label>
              <label class="btn btn-secondary btn_colored">
                <input type="radio" name="options" value='full' id="option3" autocomplete="off"> Full
              </label>
            </div>

          </div>

          <div class="col-md-6">

            <div class='d-flex flex-row pb-2 pt-3'>
              <div class='title flex-grow-1'> What are you looking for? </div>
              <div class="custom-control custom-switch" >
                <input type="checkbox" class="custom-control-input" id="switchControls">
                <label id="custom-switch-label" class="custom-control-label" for="switchControls">OFF</label>
              </div>
            </div>
            <p>
              In addition, you can also specify what is particularly important for you when looking for a race and get recommendations that will prioritize these criteria. 
            </p>

            <div style="position: relative">
              
              <div id='screen'></div>

              <div class="container-fluid slider-container no-padding">
                <span id="slider-racetype-label">Experience sought</span>
                
                <div class='d-flex flex-row justify-content-center bottom-pad-small'>
                  <input id="slider-raceexperience" data-slider-id="slider-raceexperience" type="text"
                    data-provide="slider"
                    data-slider-ticks="[0, 1, 2]"
                    data-slider-ticks-labels='["Vacation", "Neutral", "Performance"]'
                    data-slider-min="0"
                    data-slider-max="2"
                    data-slider-step="1"
                    data-slider-value="1"
                    data-slider-tooltip="hide" />
                
                </div>

                <span id="slider-racetype-label">Race difficulty</span>
                <div class="d-flex flex-row justify-content-center bottom-pad">
                  <div class="d-flex flex-grow-1 justify-content-center">
                    <span class="oi oi-thumb-up up-color" aria-hidden="true"></span>  
                  </div>
                  <input class="flex-grow-1" id="slider-racedifficulty" data-slider-id="slider-racedifficulty" type="text"/>
                  <div class="d-flex flex-grow-1 justify-content-center">
                    <span class="oi oi-fire fire-color" aria-hidden="true"></span>  
                  </div>
                </div>

                <span id="slider-racetype-label">Race size</span>
                <div class="d-flex flex-row justify-content-center">
                  <div class="d-flex flex-grow-1 justify-content-center">
                    <span class="oi oi-person grey-color" aria-hidden="true"></span>  
                  </div>
                  <input class="flex-grow-1" id="slider-racesize" data-slider-id="slider-racesize" type="text"/>
                  <div class="d-flex flex-grow-1 justify-content-center">
                    <span class="oi oi-people grey-color" aria-hidden="true"></span>  
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <table id="result-table" class='table'></table>
        </div>
      
      </div>

      <div class="col-lg-6 pt-2">

          <div class="card">
            <div class="card-header">
              The Ironman world
            </div>
            <div id="globe"></div>
          </div>

          <div class="card">
            <div class="card-header">
              <span id="info-raceid">Info:</span>
            </div>
            <div class="card-body">
              <h5 class="card-title" id="info-racename"></h5>
              <div class="row">

                <img class="col-sm-6" id="info-raceimage">
                <div class="col-sm-6">
                  <p class="card-text" id="info-racedescription"></p> 

                  <div class="row">
                    <div class="col-auto mr-auto">
                      <button type="button" id="race-moreinfobutton" class="btn btn-primary" data-toggle="modal" data-target="#moreInfo" onclick=showMaps() disabled>More info</button>
                    </div>
                    <div class="col-auto">
                      <a  href="#" class="btn btn-primary" id="info-raceurl">Register</a>
                    </div>
                  </div>
                 
                </div>

              </div>
            </div>
          </div>

      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="moreInfo" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="moreInfoLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
            <div class="activity-label">Bike leg:</div>
            
            <div class="activity-chart"id="bike-elevation-chart">
              <div class="activity-info" id="bike-info">test</div>
            </div>

            <hr />
            
            <div class="activity-label">Run leg:</div>

            <div class="activity-chart" id="run-elevation-chart">
              <div class="activity-info" id="run-info">test</div>
            </div>

            <hr />

            <div class="activity-label">Typical weather:</div>
            
            <div class="row container">
              <div class="col-4">
                <canvas id="weather-icon" width="80" height="80"></canvas>
              </div>
              <div class="col-8 weather-info" id="weather-info"></div>
            </div>
            
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}