{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
  <h1>Hey there!</h1>
  <h4>Want to know what your next race will be? You're at the right place!</h4>
  <div class="container-fluid">
    <div class="row ">
      <div class="col-md">
        
        <div class="input-group mb-2">
          <input id="race-input" type="text" class="form-control" placeholder="Which race did you liked?" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onClick=showRecommendations()>Submit</button>
          </div>
        </div>

        <div class="container-fluid remove-all-margin-padding">
          <div class="row no-gutters">
            <div class="col">
              
              <div id="races-filter" class="btn-group btn-group-toggle col-10 remove-all-margin-padding" data-toggle="buttons">
                <label class="btn btn-secondary btn_colored active">
                  <input type="radio" name="options" value='all' id="option1" autocomplete="off" checked> No Filter
                </label>
                <label class="btn btn-secondary btn_colored">
                  <input type="radio" name="options" value='70.3' id="option2" autocomplete="off"> 70.3
                </label>
                <label class="btn btn-secondary btn_colored">
                  <input type="radio" name="options" value='full' id="option3" autocomplete="off"> Full
                </label>
              </div>


            </div>
            <div class="col">
              
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="modelSelect">Model</label>
                </div>
                <select class="custom-select" id="modelSelect">
                  <option selected value="0">Choose ...</option>
                  <option value="0">KNN sparse</option>
                  <option value="1">KNN SVD (25)</option>
                  <option value="2">KNN SVD (15)</option>
                  <option value="2">Content (TBI)</option>
                  <option value="2">Hybrid (TBI)</option>
                </select>
              </div>


            </div>
          </div>
        </div>
        
        <table id="result-table" class='table'></table>

      </div>
      <div class="col-md">

          <div class="card">
            <div class="card-header">
              The map
            </div>
            <div id="globe"></div>
          </div>

          <div class="card">
            <div class="card-header">
              <span>Info:</span> <span id="info-raceid"></span>
            </div>
            <div class="card-body">
              <h5 class="card-title" id="info-racename"></h5>
              <div class="row">

                <img class="col-6" id="info-raceimage">
                <div class="col-6">
                  <p class="card-text" id="info-racedescription"></p> 
                  <a class="btn btn-primary" id="info-raceurl" style="position: absolute; bottom: 0; right: 0;">Register</a>
                </div>

              </div>
              <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
              <!-- <a class="btn btn-primary" id="info-raceurl">Register</a> -->
            </div>
          </div>

      </div>
    </div>
  </div>
  
  <!-- vendors -->
  <script src="{{ url_for('static', filename='js/vendor/d3.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/vendor/topojson.min.js') }}"></script>  
  <script src="{{ url_for('static', filename='js/vendor/versor.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/vendor/d3-inertia.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/holder.min.js') }}"></script>

  <!-- page specifics -->
  <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
  <script src="{{ url_for('static', filename='js/globe.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  

{% endblock %}