<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %} - NosTRIdamus</title>
    <meta name="description" content="Nostridamus">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-slider.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/open-iconic-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="{{ url_for('static', filename='js/vendor/jquery-3.4.1.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script> 
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% block head %}
    {% endblock %}
    <style>
      #page-content{
        min-height: calc(100vh - var(--main-navbar-height) - var(--main-footer-height)); /*navbar 50px, footer 100px*/
      }
      #arrow-down{
        position: absolute;
        bottom: 10%;
      }
    </style>
  </head>
  <body>
    <!-- Full Page Image Header with Vertically Centered Content -->
    <header id="masthead" class="masthead">
      <div class="container h-100 transbox-parent">
        
        <div class="transbox">
          <img id='logo' class='logo' src="/static/img/nostridamus-logo.png" alt="">
        </div>
        <a id='arrow-down' href="#main"><img id='arrow-down-img' alt="Arrow Down Icon" src="/static/img/arrow-down.png"></a>
            
      </div>
    </header>
    
    <nav id="main" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">NosTRIdamus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="/#main">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about#main">About</a>
              </li>
            </ul>
        </div>
    </nav>
    <!-- Page Content -->
    <section id='page-content'>
      <div class="content-main">
          {% block content %}{% endblock %}
      </div>
    </section>

    <footer class="footer-gc bg-dark">
      {% block footer %}
      <div class="footer-container container">
        <div class='footer-p'>
          NosTRIdamus was developed by Guillaume Calmettes as an Insight Data Science Fellow.
        </div>
        <div class='d-flex'>
          <a id="gc-website" role='button' class="btn btn-secondary" href="http://www.gcalmettes.ml/" style="color: black;" target="_blank"><span class="oi oi-globe black" aria-hidden="true"></span><span class='margined black weight-small'>website</span></a>
          <span class="margined"><a class="github-button" href="https://github.com/gcalmettes" aria-label="@gcalmettes on GitHub">Github @gcalmettes</a></span>
          <span class="margined"><a class="twitter-follow-button" href="https://twitter.com/gcalmettes" data-show-count="false">Follow @gcalmettes</a></span>
          <span class="margined"><a href="https://www.linkedin.com/in/guillaume-calmettes" id="linkedin" target="_blank">in</a></span>
        </div>
      </div>
      {% endblock %}
    </footer>

  </body> 

  <script src="{{ url_for('static', filename='js/vendor/bootstrap.bundle.min.js') }}"></script>
  <!-- vendors -->
  <script src="{{ url_for('static', filename='js/vendor/d3.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/vendor/topojson.min.js') }}"></script>  
  <script src="{{ url_for('static', filename='js/vendor/versor.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/vendor/d3-inertia.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/holder.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/bootstrap-slider.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/skycons.js') }}"></script>

  <!-- page specifics Index -->
  <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
  <script src="{{ url_for('static', filename='js/globe.js') }}"></script>
  <script src="{{ url_for('static', filename='js/slider-snap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>

  <script>
    // change hilghlight on tab
    $(document).ready(() => {
      $('li.active').removeClass('active');
      $(`a[href="${location.pathname}"]`).closest('li').addClass('active'); 
    });
    $(window).scroll(function(){
      const viewportHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0)
       if ($(window).scrollTop() <= viewportHeight) {
          $(".navbar").removeClass("fixed-top");
          $("#page-content").removeClass("page-content-padding-top")
       } else {
          $(".navbar").addClass("fixed-top");
          $("#page-content").addClass("page-content-padding-top")
       }
      });

    $(document).ready(function() {
        $("#arrow-down").click(function(event) {
            event.preventDefault();
            const hash = this.hash
            $("html, body").animate({ scrollTop: $(hash).offset().top }, "slow");
            return false;
        });

    });


  </script>
</html>

<!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
