<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %} - NosTRIdamus</title>
    <meta name="description" content="Nostridamus">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="{{ url_for('static', filename='js/vendor/jquery-3.3.1.slim.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script> 
    {% block head %}
    {% endblock %}
    <style>
      #page-content{
        min-height: 1000px;
      }

      #arrow-down{
        position: absolute;
        bottom: 10%;

        margin-left: -25;
      }
      
    </style>
  </head>
  <body>
    <!-- Full Page Image Header with Vertically Centered Content -->
    <header id="masthead" class="masthead">
      <div class="container h-100 transbox-parent demo">
        
        <div class="transbox">
          <img id='logo' class='logo' src="/static/img/nostridamus-logo.png" alt="">
        </div>
        <a id='arrow-down' href="#main"><img alt="Arrow Down Icon" src="/static/img/arrow-down.png"></a>
            
      </div>
    </header>
    
    <nav id="main" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">NosTRIdamus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="/#main">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about#main">About</a>
              </li>
            </ul>
        </div>
    </nav>
    <!-- Page Content -->
    <section id='page-content' class="py-5">
      <div class="content-main">
          {% block content %}{% endblock %}
      </div>
    </section>
 <!--    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div> -->
  </body>   
  <script src="{{ url_for('static', filename='js/vendor/bootstrap.bundle.min.js') }}"></script>
  <script>
    // change hilghlight on tab
    $(document).ready(() => {
      $('li.active').removeClass('active');
      $(`a[href="${location.pathname}"]`).closest('li').addClass('active'); 
    });
    $(window).scroll(function(){
      const viewportHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0)
       if ($(window).scrollTop() <= viewportHeight) {
          $(".navbar").removeClass("fixed-top");
       } else {
          $(".navbar").addClass("fixed-top");
       }
      });

    $(function() {
      $('a[href*=#]').on('click', function(e) {
        e.preventDefault();
        $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
      });
    });

//     function updateScroll(){
//         const element = document.getElementById("masthead");
//         console.log(element)
//         element.scrollTop = element.scrollHeight;
//     }
//     $('#btn-intro').on('click', function (e) {
//       // updateScroll()
//       // scrollToBottom()
//       var elmnt = document.getElementById("main");
// elmnt.scrollIntoView();
//       console.log('clicked')
//      //your awesome code here

//     })

  </script>
</html>

<!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
