/*@import url("https://fonts.googleapis.com/css?family=Lobster:400");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i");*/

body, html {
  height: 100%;
  z-order: -300;
}

.masthead {
  position: relative;
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
}
.masthead::after {
  content: "";
  background: url('/static/img/triathlon-banner-full.jpg');
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -10;   
}

div.transbox-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

div.transbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  height: 320px;
  width: 400px;
  overflow: hidden;
  border: 1px solid black;
  position: relative;
  z-index:100;
}
div.transbox::after {
  content: "";
  background-color: white;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.logo {
  width: 400px;
  z-index: 200;
}

@media only screen and (max-width: 450px) {
  div.transbox {
    width: 250px;
    height: 200px;
  }

  .logo {
    width: 250px;
  }
}

.navbar-brand {
  font-size: 20px;
}

.content-main {
  padding-top: 10px;
  margin-left: 15px;
  color: #333333;
}



/***************************************/
/**********  Misc Elements  ***********/
/**************************************/

.margined {
  margin-left: 5px;
  margin-right: 5px;
}

.btn_colored.active {
    background-color: #E24A33 !important;
}

.no-padding {
  padding: 0 !important;
}

.title {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.bottom-pad {
  margin-bottom: 15px !important;
}

.bottom-pad-small {
  margin-bottom: 10px !important;
}

.top-pad {
  margin-top: 15px !important;
}

#screen {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.7;
}
/***************************************/
/***************  Icons  ***************/
/***************************************/

.oi{
  /*margin-left: 5px;
  margin-right: 5px;*/
  font-size: 1.5em;
}

.up-color {
  color: #E7B63F  ;
}

.grey-color {
  color: #888888;
}

.fire-color{
  color: #E24A33;
}

.right-border {
  border-right: 1px solid #777777;
}


/***************************************/
/************    Sliders   *************/
/**************************************/

#slider-racedifficulty .slider-handle,
#slider-raceexperience .slider-handle {
  background:  #777777 ;
}
#slider-racedifficulty .slider-selection,
#slider-raceexperience .slider-selection {
  background: #00BFFF;
}

#slider-racesize .slider-handle,
#slider-racesize .slider-handle {
  background:  #777777 ;
}
#slider-racesize .slider-selection,
#slider-racesize .slider-selection {
  background: #00BFFF;
}

#slider-raceexperience div.slider-tick.in-selection {
  background: #00BFFF;
}

#slider-raceexperience div.slider-tick-label {
  color: #777777;
  font-size: 0.8em;
}
#slider-raceexperience div.slider-tick-label.label-is-selection {
  color: #E24A33;
}


/***************************************/
/**************  GLobe   ***************/
/**************************************/

#globe {
  height: 350px;
  /*width: 100%;*/
}

svg.globe-svg {
  cursor: move;  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
svg.globe-svg.dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

div.tooltip { 
    position: absolute;     
    text-align: center;              
    padding: 2px;       
    font: 12px sans-serif;    
    background-color: #FBC15E; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}

.race-location { 
    cursor: pointer;  
    fill: white;   
    /*pointer-events: none;     */
}

.race-location.isTarget { 
    fill: #E24A33;
}

.race-location.isSelection { 
    fill: #FBC15E;
}


/***************************************/
/********  Race details modal   ********/
/***************************************/

.activity-chart {
  position: relative;
}

.activity-chart>path {
  fill: #FBCCB8;
}

.activity-label {
  color: black;
  font-weight: bold;
  text-decoration: underline;

}

.activity-info {
  position: absolute;
  top: 1px;
  right: 20px;
}

.weather-info {
  display: flex;
  align-items: center;
}

#weather-icon{
  margin-top: 10px;
}


/***************************************/
/**********  Results table  ***********/
/**************************************/

.highlighted {
  background-color: #FBC15E;
}

table {
  cursor: default;
}

.remove-all-margin-padding{
  margin:0 ! important;
  padding:0 ! important;
}


/***************************************/
/*********   Autocomplete   ************/
/**************************************/

* { box-sizing: border-box; }
body {
  font: 16px Arial; 
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}



/*

#E24A33 : red
#348ABD : blue
#988ED5 : purple
#777777 : gray
#FBC15E : yellow
#8EBA42 : green
#FFB5B8 : pink

#00BFFF : neon blue
#97FFFF : neon light blue
#00CD00 : neon green
#CAFF70 : neon light green

#66FF00 : green
#CC0033 : red

#332288 dark blue
#88CCEE light blue
#44AA99 light green
#117733 dark green
#999933 dark yellow/brown
#DDCC77 light yellow/brown
#CC6677 pink/red ligth
#882255 purple
#AA4499 bright purple

UBER
#1FBAD6
#EDCA3A
#F25754
#E6B0F1
#C0C0C8
#B646B0
#9BE7FF
#8BC53F

#E7B63F yellow
#F28544 orange
#D34328 red
#CA3773 pink/purple
#86277A purple
#624D9A blue/purple
#54BACE blue light
#4B88BE blue
#589772 green

#F4E2B1 pale yellow
#FBCCB8 pale orange
#EEB1AC pale pink



#81BFDA
#7192BC
#FCFF84
#DDAE48
#F69BEC
#A82C64
#42E576
#2E8156


#5D7DE9
#E1D044
#34C3DE
#D342A1
#C37F24
#DE4263
#5DB732
#555555
#BBC740
#EB7D9D
#F09BB3


*/