@import url("https://fonts.googleapis.com/css?family=Lobster:400");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i");

.navbar-brand {
  font-size: 20px;
}

.content-main {
  padding-top: 10px;
  margin-left: 15px;
  /*margin: auto;*/
  color: #333333;
}


/***************************************/
/**********  Misc Elements  ***********/
/**************************************/

.btn_colored.active {
    background-color: #E24A33 !important;
}


/***************************************/
/**************  GLobe   ***************/
/**************************************/

#globe {
  height: 350px;
  /*width: 100%;*/
}

svg.globe-svg {
  cursor: move;  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
svg.globe-svg.dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

div.tooltip { 
    position: absolute;     
    text-align: center;              
    padding: 2px;       
    font: 12px sans-serif;    
    background-color: #FBC15E; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}

.race-location { 
    cursor: pointer;  
    fill: white;   
    /*pointer-events: none;     */
}

.race-location.isTarget { 
    fill: #E24A33;
}

.race-location.isSelection { 
    fill: #FBC15E;
}


/***************************************/
/********  Race details modal   ********/
/***************************************/

.activity-chart {
  position: relative;
}

.activity-chart>path {
  fill: #FBCCB8;
}

.activity-label {
  color: black;
  font-weight: bold;
  text-decoration: underline;

}

.activity-info {
  position: absolute;
  top: 1px;
  right: 20px;
}

.weather-info {
  display: flex;
  align-items: center;
}

#weather-icon{
  margin-top: 10px;
}


/***************************************/
/**********  Results table  ***********/
/**************************************/

.highlighted {
  background-color: #FBC15E;
}

table {
  cursor: default;
}

.remove-all-margin-padding{
  margin:0 ! important;
  padding:0 ! important;
}


/***************************************/
/************    Sliders   *************/
/**************************************/

.slider-container > .slider.slider-horizontal {
    width:100%;
  }

.slider-selection .tick-slider-selection {
    color: red !important;
  }

/***************************************/
/*********   Autocomplete   ************/
/**************************************/

* { box-sizing: border-box; }
body {
  font: 16px Arial; 
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}